:root {
  --background-color: #f8f2e9;
  --postDetailbackground-color: #f5f5f5;
  --green-color: #2d9037;
  --light-green-color: #e3efdb;
  --secondary-color: #66ccff;
  --myChat-color: #ffc985;
  --otherChat-color: #fce3c4;
  --chatInput-color: #fbf7f2;
}
body {
  background-color: var(--background-color);
}
